<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Business Submission Form
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<ion-row>
    <ion-col col-11>
      <ion-item>
        <ion-input type="text" [(ngModel)]="businessName" placeholder="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="businessAddr" placeholder="Address"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-11>
      <button ion-button (click)="addItem()">Submit</button>
    </ion-col>
  </ion-row>-->

  <input type="hidden" [(ngModel)]="contact.id" />
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input [(ngModel)]="contact.name" type="text" placeholder="Fill yor first and last name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Address</ion-label>
      <ion-input [(ngModel)]="contact.address" type="text" placeholder="Fill your full address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Phone</ion-label>
      <ion-input [(ngModel)]="contact.phone" type="text" placeholder="Fill your phone number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>City</ion-label>
      <ion-input [(ngModel)]="contact.city" type="text" placeholder="Fill your city"></ion-input>
    </ion-item>
    <button ion-button color="primary" (click)="addContact(contact.id, contact.name, contact.address, contact.phone, contact.city)"> <span *ngIf="contact.id">Update Contact</span><span *ngIf="!contact.id">Add Contact</span> </button>

</ion-content>
